<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qg.test.login"/>
      <class name="com.qg.test.skuList"/>
      <class name="com.qg.test.addressList"/>
      <class name="com.qg.test.submit"/>
    </classes>
  </test>
</suite> 
