<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="s1" verbose="1" >
	<listeners> 
		<listener class-name="com.freemarker.WebTestListener" /> 
	</listeners>
	<test name="test1" >
		<classes>		
			<class name="com_analysis_lianqianhui.Analysis_Test" />
			<class name="com_CMS_chenruofan.CMS_Test" />
			<class name="com_customer_chenruofan.Customer_Test" />
			<class name="com_goods_fanlimei.Goods_Test" />
			<class name="com_sell_zhangjiawang.Sell_Test" />
			<class name="com_system_mengyuxuan.System_Test" />
			<class name="com_system_songxiaoqian.System_Test" />
			
			
		</classes>
	</test>
</suite>